:global *,
:global *::before,
:global *::after {
  box-sizing: border-box;
  -webkit-user-drag: none;
}
:global :root {
  --font-family-monospace: "Cascadia Mono", "Fira Code", "Consolas", monospace;
  color-scheme: light dark;
}
:global html {
  font-size: 62.5%;
}
:global body {
  user-select: none;
  font-family: var(--font-family-text);
  font-size: var(--body-font-size);
  font-weight: normal;
  line-height: 20px;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  user-select: revert;
  background-color: var(--solid-background-base);
}
@media (prefers-color-scheme: light) {
  :global code {
    color: #393a34;
  }
  :global code .comment,
  :global code .prolog,
  :global code .doctype,
  :global code .cdata {
    color: #008000;
    font-style: italic;
  }
  :global code .namespace {
    opacity: 0.7;
  }
  :global code .string {
    color: #a31515;
  }
  :global code .punctuation,
  :global code .operator {
    color: #393a34; /* no highlight */
  }
  :global code .url,
  :global code .symbol,
  :global code .number,
  :global code .boolean,
  :global code .variable,
  :global code .constant,
  :global code .inserted {
    color: #36acaa;
  }
  :global code .atrule,
  :global code .keyword,
  :global code .attr-value,
  :global code .language-autohotkey .selector,
  :global code .language-json .boolean,
  :global code .language-json .number, :global code[class*=language-css] {
    color: #00f;
  }
  :global code .function {
    color: #393a34;
  }
  :global code .deleted,
  :global code .language-autohotkey .tag {
    color: #9a050f;
  }
  :global code .selector,
  :global code .language-autohotkey .keyword {
    color: #00009f;
  }
  :global code .important {
    color: #e90;
  }
  :global code .important,
  :global code .bold {
    font-weight: bold;
  }
  :global code .italic {
    font-style: italic;
  }
  :global code .class-name,
  :global code .language-json .property {
    color: #2b91af;
  }
  :global code .tag,
  :global code .selector {
    color: #800000;
  }
  :global code .attr-name,
  :global code .property,
  :global code .regex,
  :global code .entity {
    color: #f00;
  }
  :global code .directive.tag .tag {
    background: #ff0;
    color: #393a34;
  }
  :global code .line-numbers .line-numbers-rows {
    border-inline-end-color: #a5a5a5;
  }
  :global code .line-numbers-rows > span:before {
    color: #2b91af;
  }
}
@media (prefers-color-scheme: dark) {
  :global code {
    color: #d4d4d4;
  }
  :global code[class*=language-javascript], :global code[class*=language-jsx], :global code[class*=language-typescript], :global code[class*=language-tsx] {
    color: #9cdcfe;
  }
  :global code[class*=language-css] {
    color: #ce9178;
  }
  :global code[class*=language-html] {
    color: #d4d4d4;
  }
  :global code .language-regex .anchor {
    color: #dcdcaa;
  }
  :global code .language-html .punctuation {
    color: #808080;
  }
  :global code .namespace {
    opacity: 0.7;
  }
  :global code .doctype .doctype-tag {
    color: #569cd6;
  }
  :global code .doctype .name {
    color: #9cdcfe;
  }
  :global code .comment,
  :global code .prolog {
    color: #6a9955;
  }
  :global code .punctuation,
  :global code .language-html .language-css .punctuation,
  :global code .language-html .language-javascript .punctuation {
    color: #d4d4d4;
  }
  :global code .property,
  :global code .tag,
  :global code .boolean,
  :global code .number,
  :global code .constant,
  :global code .symbol,
  :global code .inserted,
  :global code .unit {
    color: #b5cea8;
  }
  :global code .selector,
  :global code .attr-name,
  :global code .string,
  :global code .char,
  :global code .builtin,
  :global code .deleted {
    color: #ce9178;
  }
  :global code .language-css .string.url {
    text-decoration: underline;
  }
  :global code .operator,
  :global code .entity {
    color: #d4d4d4;
  }
  :global code .operator.arrow {
    color: #569cd6;
  }
  :global code .atrule {
    color: #ce9178;
  }
  :global code .atrule .rule {
    color: #c586c0;
  }
  :global code .atrule .url {
    color: #9cdcfe;
  }
  :global code .atrule .url .function {
    color: #dcdcaa;
  }
  :global code .atrule .url .punctuation {
    color: #d4d4d4;
  }
  :global code .keyword {
    color: #569cd6;
  }
  :global code .keyword.module,
  :global code .keyword.control-flow {
    color: #c586c0;
  }
  :global code .function,
  :global code .function .maybe-class-name {
    color: #dcdcaa;
  }
  :global code .regex {
    color: #d16969;
  }
  :global code .important {
    color: #569cd6;
  }
  :global code .italic {
    font-style: italic;
  }
  :global code .constant {
    color: #9cdcfe;
  }
  :global code .class-name,
  :global code .maybe-class-name {
    color: #4ec9b0;
  }
  :global code .console {
    color: #9cdcfe;
  }
  :global code .parameter {
    color: #9cdcfe;
  }
  :global code .interpolation {
    color: #9cdcfe;
  }
  :global code .punctuation.interpolation-punctuation {
    color: #569cd6;
  }
  :global code .boolean {
    color: #569cd6;
  }
  :global code .property,
  :global code .variable,
  :global code .imports .maybe-class-name,
  :global code .exports .maybe-class-name {
    color: #9cdcfe;
  }
  :global code .selector {
    color: #d7ba7d;
  }
  :global code .escape {
    color: #d7ba7d;
  }
  :global code .tag {
    color: #569cd6;
  }
  :global code .tag .punctuation {
    color: #808080;
  }
  :global code .cdata {
    color: #808080;
  }
  :global code .attr-name {
    color: #9cdcfe;
  }
  :global code .attr-value,
  :global code .attr-value .punctuation {
    color: #ce9178;
  }
  :global code .attr-value .punctuation.attr-equals {
    color: #d4d4d4;
  }
  :global code .entity {
    color: #569cd6;
  }
  :global code .namespace {
    color: #4ec9b0;
  }
}

/*# sourceMappingURL=global.css.map */
